<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>I am Dylan Madisetti: a person</title>
		<meta name="description" content="Hey there world, my name is Dylan Madisetti. I live in South Carolina and I'm a software developer"/>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24705076-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<!-- Google Plus Stuff -->
		<link href="https://plus.google.com/107049937925936087687" rel="publisher" />
		<link href="https://plus.google.com/107049937925936087687" rel="author" />
		<!-- Twitter Stuffs -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="http://www.dylanmadisetti.com">
		<meta name="twitter:title" content="Dylan Madisetti- I am a person.">
		<meta name="twitter:description" content="So hey this site is about me- Dylan Madisetti. Just because.">
		<meta name="twitter:image" content="http://www.dylanmadisetti.com/images/qrcode.png">
		<meta name="twitter:site" content="@dylanmadisetti">
		<meta name="twitter:creator" content="@dylanmadisetti">
		<!-- Facebook Stuffs -->
		<meta property="og:image" content="http://www.dylanmadisetti.com/images/qrcode.png"/>
		<meta property="og:title" content="Dylan Madisetti is a person. This is his site."/>
		<meta property="og:url" content="http://www.dylanmadisetti.com"/>
		<meta property="og:site_name" content="Dylan Madisetti"/>
		<!-- Bing Jazz -->
		<meta name="msvalidate.01" content="954EDDCB6DE7FF57E630FE89F47B67D3" />
		<!-- Canonical for kicks --> 
		<link rel="canonical" href="http://www.dylanmadisetti.com" />
		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="/styles/the.css">
		<!-- Scripts -->
		<script type="text/javascript" src="/shader/deploy/fss.js"></script>
	</head>
	<body>
		<header itemscope="" itemtype="http://schema.org/Person">
			<div class="inner">
				<span class="block pull-left">
					<h1 itemprop="name" class="block">
						Dylan Madisetti |
					</h1>
					<h2 itemprop="jobTitle" class="block">
						Software Developer
					</h2>
				</span>
				<span class="block pull-right">
					<h3 itemprop="email" class="block">
						contact@dylanmadisetti.com
					</h3>
					<h3 itemprop="telephone" class="block">
						(843) 557-8620
					</h3>
				</span>
			</div>
		</header>
		<span class="ybr">
			<article class="container">
				<section>
					<img class="main bubble" src="http://photos-g.ak.instagram.com/hphotos-ak-xpf1/10354457_1430096060593774_1481109448_n.jpg">
					<div class="block said">
						<span class="arrow-left">
						</span>
						<p class="large speech"></p>
					</div>
				</section>

				{%for slide in extra%}
				<section class="slide">
					<img class="little bubble" src="{{slide.image}}">
					<div class="block rumored">
						<span class="pointer arrow-left">
						</span>
						<span class="small speech">
							<h4>{{slide.title}}</h4>
							<p>{{slide.text}}</p>
						</span>
					</div>
				</section>
				{%endfor%}

				{%for slide in data%}
				<section class="slide">
					<img class="little bubble" src="{{slide.image}}">
					<div class="block rumored">
						<span class="pointer arrow-left">
						</span>
						<span class="small speech">
							<h4>{{slide.title}}</h4>
							<p>{{slide.text}}</p>
						</span>
					</div>
				</section>
				{%endfor%}


			</article>
		</span>

		<script type="text/javascript" src="/scripts/the.js"></script>
	</body>
</html>