<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>I am Dylan Madisetti: a person</title>
		<meta name="description" content="Hey there world, my name is Dylan Madisetti. I live in South Carolina and I'm a software developer"/>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24705076-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<!-- Google Plus Stuff -->
		<link href="https://plus.google.com/107049937925936087687" rel="publisher" />
		<link href="https://plus.google.com/107049937925936087687" rel="author" />
		<!-- Twitter Stuffs -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="http://www.dylanmadisetti.com">
		<meta name="twitter:title" content="Dylan Madisetti- I am a person.">
		<meta name="twitter:description" content="So hey this site is about me- Dylan Madisetti. Just because.">
		<meta name="twitter:image" content="http://www.dylanmadisetti.com/images/qrcode.png">
		<meta name="twitter:site" content="@dylanmadisetti">
		<meta name="twitter:creator" content="@dylanmadisetti">
		<!-- Facebook Stuffs -->
		<meta property="og:image" content="http://www.dylanmadisetti.com/images/qrcode.png"/>
		<meta property="og:title" content="Dylan Madisetti is a person. This is his site."/>
		<meta property="og:url" content="http://www.dylanmadisetti.com"/>
		<meta property="og:site_name" content="Dylan Madisetti"/>
		<!-- Bing Jazz -->
		<meta name="msvalidate.01" content="954EDDCB6DE7FF57E630FE89F47B67D3" />
		<!-- Canonical for kicks --> 
		<link rel="canonical" href="http://www.dylanmadisetti.com" />
		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="/styles/the.css">
	</head>
<body>
	<header itemscope itemtype="http://schema.org/Person">
		<div class= "inner">
			<h1 itemprop="name">
				Dylan Madisetti |
			</h1>
			<h2 itemprop="jobTitle">
				Software Developer
			</h2>
			<h3 itemprop="telephone">
				(843) 557-8620
			</h3>
			<h3 itemprop="email">
				contact@dylanmadisetti.com
			</h3>
		</div>
	</header>


	<section>
		{% for widget in data.widgets %}
			{{ widget }}
		{% endfor %}
	</section>


	<footer itemscope itemtype="http://schema.org/SiteNavigationElement">
		<nav>
			{% for piece in data.pieces %}
				<input id='{{ piece }}' type='radio' name='nav' {% if path == piece %}checked="true"{% endif %}/>
				<label for='{{ piece }}' class='{{ piece }}'>
					<a href="/{{ piece }}" data-action="push" data-tag="{{ piece }}"> {{ piece }} </a>
				</label>
			{% endfor %}
		</nav>
	</footer>

	<!-- Scripts -->
	<script src="/scripts/the.js"></script>
</body>