html {

    height: 100%;

}

label a,a:active,a:hover,a:visited,a:link {

	color:#555;
	text-decoration: underline;

}


body{

	background-color:#394034;
	margin:0px;
	padding:0px;
    height: 100%;

}

#background {

	height: 100%;
	position: fixed;
	top:0;
	width: 100%;
	z-index: -1;

}

section{

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0px;

}

.header {
	color:#FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow:hidden;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inner,nav{
	line-height: 14px;
	margin: 0 auto;
	max-width:1250px;
	overflow: visible;
	min-height:45px;
	text-align: center;
}

.header h1{

	clear: both;
	

	font-size: 36px;
	margin: 15px 10px;
	text-transform:lowercase;

	line-height: normal;

}

.header h2{

	clear:none;
	font-size:14px;
	margin: 15px 5px;

}

.header h3{

	clear:none;
	font-size:12px;
	margin: 15px 5px;

}

.block-line{
	display: initial;
	width: 100%;
	text-align: center;
}

.block {

	display: inline-block;

}

.pull-left{

	/* float: left; */

	/* position: relative; */   

	/* top: 50%; */   

	/* -webkit-transform: translateY(-50%); */   -ms-transform: translateY(-50%);   

	/* transform: translateY(-50%); */ 

};

}

.pull-right{

	float: right;

}

.container {

	display: block;
	margin: 75px auto 0 auto;  
	max-width: 1200px;

}

.content{

	margin:0px auto;
	min-height:500px;
	padding:45px 20px;
	width:415px;

}

.ybr {

	/*background-image: url('/images/track.png');
	background-repeat: repeat-y;*/
	display: block;
	margin: 0 auto;
	width: 1250px;

}

.bubble {

	border-radius: 100%;
	border: 4px solid #EFF0EC;
	display: inline-block;
	height: auto;
	margin-left: -4px;

}

.said, .rumored {

	height: 93px;
	margin-left: 205px;
	position: relative;
	top: -175px;

}

.arrow-left {

	border-bottom: 20px solid transparent;
	border-right: 15px solid #EFF0EC;
	border-top: 20px solid transparent;
	display: block; 
	height: 0;
	position: relative;
	top: 80px;
	width: 0;

}

.speech {

	background-color: #EFF0EC;
	border-radius: 2px;
	color: #333;
	display: block;
	min-height: 100%;
	margin: 0 15px;
	
}

.shout {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.2em;
	margin: 0;
	padding-top: 15px;
	text-align: center;

}

.hire {

	margin: 0 30px;
	text-align: center;

}

.icons{

	display: block;
	height: 50px;
	margin-top: 15px;

}

.small {

	margin-right: 35px;
	padding: 10px; 

}

.small h4{

  margin-top: 0;

}

.main,.little {
	
	height: 160px;
	margin: 0 70px 0 35px;
	width: 160px;

}

#game {
	display: block;
	position: absolute;
	top: 0;
	z-index: -1;
}

footer{

	background-color: #282828;
	bottom: 0;
	font-size: 3em;
	float: left;
	height: 100px;
	position: relative;
	width: 100%;

}

@media screen and (min-width: 675px) {

	header{

		position: fixed;
	
	}

	.block-line{

		/* display: inline-block; */
		

		/* width: initial; */
		

		/* text-align: center; */

	}

	.small {

		margin-right: 75px;

	}
}

@media screen and (min-width: 950px) {
	.large{

		font-size: 2.2em;
		height: 90%;
		margin: 0 15px;
		width: initial;

	}


	.small {

		margin-right: 100px;

	}

	.pointer {

		top: 154px;

	}

	.main {

		height: 300px;
		margin-top: -4px;
		margin: 0;
		width: 300px;

	}

	.said {

		height: 308px;
		margin-left: 308px;
		top: -308px;

	}
	
	.rumored {

		margin-left: 235px;
	
	}
	
	.said, .rumored {

		display: block;
	
	}
	
	.slide {
	
		position: relative;
	
	}
	
	.little {
		
		margin: 0 70px;

	}
}
