label a,a:active,a:hover,a:visited,a:link {

	color:#FFF;
	text-decoration: none;

}


body{

	background-color:#394034;
	margin:0px;
	padding:0px;

}

#background {

	height: 100%;
	position: fixed;
	top:0;
	width: 100%;
	z-index: -1;

}

section{

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0px;

}

header {
	top:0;
	border-bottom:1px solid #000000;
	position:fixed;
	vertical-align:top;
	color:#FFF;
	margin:0px;
	padding:0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#282828;
	width:100%;
	overflow:hidden;
	z-index: 1;
}

.inner,nav{
	line-height: 14px;
	margin: 0 auto;
	max-width:1250px;
	overflow: visible;
	min-height:45px;
}

header h1{

	clear:none;
	font-size: 20px;
	margin: 15px 10px;
	text-transform:lowercase;

}

header h2{

	clear:none;
	font-size:14px;
	margin: 15px 5px;

}

header h3{

	clear:none;
	font-size:12px;
	margin: 15px 5px;

}


.slide{
	
	position: relative;

}
.block {

	display: inline-block;

}

.pull-left{

	float: left;

}

.pull-right{

	float: right;

}

.container {

	display: block;
	margin: 75px auto 0 auto;  
	width: 1200px;

}

.content{

	margin:0px auto;
	min-height:500px;
	padding:45px 20px;
	width:415px;

}

.ybr {

	/*background-image: url('/images/track.png');
	background-repeat: repeat-y;*/
	display: block;
	margin: 0 auto;
	width: 1250px;

}

.main {

	margin-top: -4px;
	width: 300px;

}
.bubble {

	border-radius: 100%;
	border: 4px solid #EFF0EC;
	display: inline-block;
	height: auto;
	margin-left: -4px;

}

.said {

	display: block;
	height: 308px;
	margin-left: 308px;
	position: relative;
	top: -308px;

}

.rumored {

	display: block;
	height: 93px;
	margin-left: 250px;
	position: relative;
	top: -175px;

}

.arrow-left {

	border-bottom: 20px solid transparent;
	border-right: 15px solid #EFF0EC;
	border-top: 20px solid transparent;
	display: block; 
	height: 0;
	position: relative;
	top: 154px;
	width: 0;

}
.pointer {

	top: 80px;

}
.speech {

	background-color: #EFF0EC;
	border-radius: 2px;
	color: #333;
	display: block;
	height: 100%;
	margin-left: 15px;
	
}

.small {

	margin-right: 100px;
	padding: 10px; 

}

.small h4{

  margin-top: 0;

}

.little {
	
	height: 160px;
	margin: 0 70px;
	width: 160px;

}